h1 {font-size:120%;
    color: 1b56a4;
    font-weight: bold;
}

img.about{
 height:20px;
 width: 100%;
 border:0; 
}


img.mugshot{
 border:0px;
 display:inline;
 float:left;
 padding-right: 5px;

}

img.right{
 max-width: 40%;
 width:400px;
 display:inline;
 float:right;
 border:0;

}

img.front{
 max-width: 100%;
 width:400px;
 display:inline;
 float:center;
 border:0;
 padding-bottom: 5px;
 padding-top: 25px;
}

img.header{
 width:100px;
 display:block;
 float:left;
 padding-top:2px;
 padding-left:2px;
 padding-bottom:2px;
 boarder:0;
}

a{
 color:#1b56a4;
 text-decoration:none;
}

a.ref{
 color:black;
 text-decoration:none;
}

table.info{
 border:0;
 width:100%;
}

/* customize nav style */
.navbar-custom {
    background-color: rgba(27, 86, 164, 0.24);
	color: #ffffff;
	font-weight:700;
    border-width:0;
}

.navbar-default .navbar-brand {
    color: #1b56a4;
}

.navbar-default .navbar-nav>li>a {
     color: #1b56a4;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #1b56a4;
    background-color: #e7e7e7;
}

#wrap {
  min-height: 100%;
}

.footer {
    color: #1b56a4;
    background-color: rgba(27, 86, 164, 0.24);
    font-size: 85%;
    padding-top: 10px;
}

#map {
  width: 100%;
  min-width: 300px;
  height: 300px;
  margin-bottom: 15px;
  border: 2px solid #fff;
}

.kontakt {
    padding-left: 15px;
}